<header class="header cf">
    <div class="wrapper cf">
        <div class="col">
            <a class="logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/logo.png" alt="Logo" /></a>
            <ul class="main-menu">
                <!-- <li class="active"><a href="/">Home</a></li>
                <li><a href="/package">What's included</a></li> -->
            </ul>
            <a class="button align-right" href="{{ site.baseurl }}/contact">Get in touch</a>
        </div>
    </div>
</header>