.large-bullets{
	list-style:none;
	margin-top:140px;

	i{
		display:inline-block;
		width:100px;
		height:100px;
		float:left;
	}

	.bag{
		background:url(../assets/images/bag.png) no-repeat;
	}

	.clock{
		background:url(../assets/images/clock.png) no-repeat;
	}

	.safe{
		background:url(../assets/images/safe.png) no-repeat;
	}	

	.content{
		margin-left:140px;

		h3{
			font-size:1.4em;
		}
	}

	p{
		color:#7F8C8D;
		font-size:1em;
	}
}