input[type="text"],
input[type="email"],
textarea{
    display:block;
    background-color:#f9f7f3;
    font-family:$header-font;
    color:#7d7c7b;
    height:40px;
    width:60%;
    padding:0 40px 0 10px;
    margin:0 0 10px;
    border:0;
    font-size:12px;
    @include border-radius(3px);
    background-clip:padding-box;
    box-shadow:inset 2px 5px 5px rgba(0,0,0,.06);

	&:focus{
		outline:0;
	}
}

textarea{
    height:auto;
    padding-top:10px;
    width:100%;
}

input[name="email"]{
	background:url(../assets/images/mail.png) no-repeat center right #F9F7F3;
}

input[name="name"]{
    background:url(../assets/images/person.png) no-repeat center right #F9F7F3;
}

input[name="phone"]{
    background:url(../assets/images/phone.png) no-repeat center right #F9F7F3;
}

input[name="company"]{
    background:url(../assets/images/company.png) no-repeat center right #F9F7F3;
}

.placeholdersjs{
	color:#7D7C7B;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{ /* WebKit browsers */
	color:#7D7C7B;
}

input:-moz-placeholder,
textarea:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
    color:#7D7C7B;
    opacity:1;
}

input::-moz-placeholder,
textarea::-moz-placeholder{ /* Mozilla Firefox 19+ */
    color:#7D7C7B;
    opacity:1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder{ /* Internet Explorer 10+ */
    color:#7D7C7B;
}