.header{
	height:80px;
	background-color:$nearly-black;

	.logo{
		margin:25px 0;
	}

	img{
		max-width:100%;
	}

	input,
	label{
		display:none;
	}

	.col{
		width:100%;
	}

	.button{
		float:right;
		margin:18px 0;
	}
}

.logo,
.main-menu{
	float:left;
}

.main-menu{
	margin:0 40px 0 45px;

	li{
		font-family:$header-font;
		font-weight:700;
		display:inline-block;
		margin:0 0 0 35px;

		&:first-child{
			margin-left:0;
		}

		a{
			display:block;
			border-top:4px solid transparent;
			color:$white;
			text-transform:uppercase;
			height:76px;
			line-height:76px;
			transition:border-color .3s ease;


			&:hover{
				text-decoration:none;
			}
		}

		&.active,
		&:hover{

			a{
				border-top-color:$red;
			}
		}
	}
}

@include respond(mobile){
	.header{
		background-color:$off-white;

		.button{
			display:none;
		}

		.logo{
			background:url(../assets/images/logo-blue.png) no-repeat;
			width:219px;
			height:39px;
		}

		img{
			display:none;
		}

		input,
		label{
			display:block;
		}
	}

	.main-menu{
		display:none;
	}
}