@import "reset";
@import "css3";
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,300,300italic,900italic|Montserrat:400,700);

*{
    box-sizing:border-box;
}

.cf:before,
.cf:after{
    content:" ";
    display:table;
}
.cf:after{
    clear:both;
}
.cf{
    *zoom:1;
}

// Variables
$header-font:'Montserrat', sans-serif;
$base-font:'Lato', sans-serif;
$base-font-colour:#000000;
$width:980px;
$grid-padding:20px;
$sidebar-width:300px;
$content-min-height:300px;

$base-font-size:10px; // Sets the browser default size.
$baseline:1.2em;

$nearly-black:#161616;
$white:#FFFFFF;
$red:#E74C3C;
$blue:#34495E;

html{
    height:100%;
    font-size:100%; 
    line-height:$baseline;
}

body{
    font-size:$base-font-size;
    font-family:$base-font;
    line-height:$baseline;
    color:$base-font-colour;
}

h1{
    font-size:2em;
    font-family:$header-font;
    font-weight:700;
    line-height:$baseline;
    color:$white;
    text-transform:uppercase;    
    margin-bottom:$baseline;
}

h2{ 
    font-size:1.8em;
    font-family:$header-font;
    font-weight:700;
    line-height:$baseline;
    color:$white;
    text-transform:uppercase;
    margin:rhythm(2, 30px) 0 rhythm(1, 60px) 0; // 2 = line above, 1 = line below
}

h3{ 
    font-size:1.6em;
    font-family:$header-font;
    font-weight:700;
    line-height:$baseline;
    color:$white;
    text-transform:uppercase;
    margin:rhythm(2, 30px) 0 rhythm(1, 60px) 0; // 2 = line above, 1 = line below
}

h4{ 
    font-size:1.4em;
    font-family:$header-font;
    font-weight:700;
    line-height:$baseline;
    color:$white;
    text-transform:uppercase;
    margin:rhythm(2, 30px) 0 rhythm(1, 60px) 0; // 2 = line above, 1 = line below
}

p{ 
    font-size:1.4em;
    font-family:$base-font;
    font-style:italic;
    line-height:$baseline;
    margin-bottom:$baseline;
    color:$white;
    text-shadow:0 1px 1px rgba(0,0,0,.75);

    &.smaller{
        font-size:12px;
    }
}

a{
    text-decoration:none;
    color:$base-font-colour;
    transition:color .3s ease;

    &:hover,
    &:focus,
    &:active{
        text-decoration:underline;
    }
}

ul,
ol{
    list-style:square;
    color:$white;

    li{
        font-size:1.4em;
        line-height:$baseline;
        margin-bottom:$baseline;
    }
}

strong{
    font-weight:600;
}

em{
    font-style:italic;
}

.red{
    color:$red;
}

.white{
    color:$white;
}

.blue{
    color:$blue;
}

.light{
    font-weight:400;
}
